.icon:hover {
  text-decoration: none;
  svg {
    stroke: $glow;
    filter: drop-shadow($glow_shadow);
    transition: $glow_transition;
  }
  path, rect, line {
    stroke: $glow;
    transition: $glow_transition;
  }
}

.delete:hover {
  text-decoration: none;
  svg {
    stroke: $red_glow;
    filter: drop-shadow($red_glow_shadow);
    transition: $glow_transition;
  }
  path, rect, line {
    stroke: $red_glow;
    transition: $glow_transition;
  }
  .bin-top {
    fill: $red_glow;
    transition: $glow_transition;
  }
}