
$dark: #03161B;
$light: #0087A4;
$glow: #00d2ff;
$soft_glow: rgba(0, 210, 255, 0.8);
$red_glow: #FF003D;

$glow_transition: 0.25s;
$glow_shadow: 0 0 15px $glow;
$red_glow_shadow: 0 0 15px $red_glow;
$soft_glow_shadow: 0 0 15px $soft_glow;



