.form-control, .custom-file-label {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0087A4;
  background-color: #03161B;
  border: 2px solid #0087A4;
  border-radius: 6px;
  transition: $glow_transition;
  height: 44px;
}

.form-control:focus, .form-control:hover, .custom-file-label:hover {
  color: $glow;
  border: 2px solid $glow;
  background-color: $dark;
  box-shadow: $soft_glow_shadow;
  transition: $glow_transition;
}

.custom-file-label {
  background: url("../img/uploadBackground.png");
  background-size: cover;
  height: 400px;
}

textarea {
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 0.145em;
}

/* input[type="file"] {
  display: none;
} */

.form-group, .center {
  margin-inline: auto;
}

textarea.form-control {
  height: 200px;
  margin-bottom: 50px;
}

/* .custom-file-label::after {
  display: none;
} */

.scene-type-btn {
  width: 245px;
  height: 134px;
  border: 2px solid #047D97;
  border-radius: 4px;
}

.scene-type-btn:hover {
  border: 2px solid $glow;
  box-shadow: $soft_glow_shadow;
  transition: $glow_transition;
}

.scene-type-section {
  margin: 20px;
}

.you-r-now {
  font-size: 37px;
}

.break-scene-thumbnail {
  background: url(../img/breakScene.png);
  background-size: cover;
}

.dialog-thumbnail {
  background: url(../img/dialog.png);
  background-size: cover;
}

.clue-thumbnail {
  background: url(../img/investigation.png);
  background-size: cover;
}

