@import "_custom-variables";
@import "~bootstrap/scss/bootstrap";
@import "_navbar";
@import "_form";


body {
  background-color: $dark;
  color: $glow;
  height: 200vh;
}

.ma{
  font-family: 'Montserrat Alternates', sans-serif;
  letter-spacing: 0.145em;
  color: $glow;
}

.container-fluid, .home-wrapper{
  width: 80%;
  margin-top: 50px;
}

.draggable {
  cursor: move;
}

