<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark ma">
    <a class="navbar-brand" href="/">
      <svg width="34" height="25" viewBox="0 0 34 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="-1" y="1" width="26.7293" height="13.9607" rx="6.98035" transform="matrix(-1 0 0 1 29.3162 0)" stroke="#0087A4" stroke-width="2"/>
        <rect x="-1" y="1" width="5.29632" height="5.29632" rx="2.64816" transform="matrix(-1 0 0 1 25.2119 4.10413)" stroke="#0087A4" stroke-width="2"/>
        <rect x="-0.68403" y="0.68403" width="1.36806" height="1.36806" rx="0.68403" transform="matrix(-1 0 0 1 10.7953 4.10413)" stroke="#0087A4" stroke-width="1.36806"/>
        <rect x="-0.68403" y="0.68403" width="1.36806" height="1.36806" rx="0.68403" transform="matrix(-1 0 0 1 10.7953 8.66443)" stroke="#0087A4" stroke-width="1.36806"/>
        <rect x="-0.68403" y="0.68403" width="1.36806" height="1.36806" rx="0.68403" transform="matrix(-1 0 0 1 8.05919 6.38428)" stroke="#0087A4" stroke-width="1.36806"/>
        <rect x="-0.68403" y="0.68403" width="1.36806" height="1.36806" rx="0.68403" transform="matrix(-1 0 0 1 13.5314 6.38428)" stroke="#0087A4" stroke-width="1.36806"/>
        <path d="M30.4042 9.5764L31.7426 18.3118C32.0676 20.4332 30.7738 22.4681 28.7149 23.0738V23.0738C26.6122 23.6924 24.3816 22.6254 23.5436 20.6001L21.1309 14.7691" stroke="#0087A4" stroke-width="2"/>
        <path d="M3.59579 9.5764L2.25742 18.3118C1.93238 20.4332 3.22617 22.4681 5.28512 23.0738V23.0738C7.38779 23.6924 9.61843 22.6254 10.4564 20.6001L12.8691 14.7691" stroke="#0087A4" stroke-width="2"/>
      </svg>
      PANDOWAY GAMES
    </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarText">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" href="#">EDIT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/game">GAMES</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">COMMUNITY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SUPPORT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
    </ul>

  </div>
</nav>