{% form_theme sceneForm 'bootstrap_4_layout.html.twig' %}


    <div class="col form-col col-lg-6">
        {{ form_start(sceneForm) }}
        {{ form_widget(sceneForm)}}

         <button class="btn btn-primary">Save changes</button>
        {{ form_end(sceneForm) }}
    </div>





