{% extends 'base.html.twig' %}

{% block title %}New Scene{% endblock %}

{% block body %}

    <h3 class="ma you-r-now">You are now creating a New Scene</h3>
    <hr>

    {{ include('scene/_form.html.twig') }}

    <a href="{{ path('scene_index',{'id':scene.game.id}) }}">back to list</a>
{% endblock %}
