{% extends 'base.html.twig' %}

{% block title %}Scene{% endblock %}

{% block body %}
    <h1>Scene</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ scene.position }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ scene.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('scene_index',{'id': scene.game.id}) }}">back to list</a>



    {{ include('scene/_delete_form.html.twig') }}
{% endblock %}
